div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 21%;
  height: 700px;
}

div.gallery_h {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 21%;
  height: 700px;
}

div.gallery_w {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 25%;
  height: 450px;
}

div.wrap {
  float: left;
  width: auto;
  padding: 10px;
}


div.gallery:hover {
  border: 1px solid #777;
}
div.gallery_w:hover {
  border: 1px solid #777;
}
div.gallery img {
  width: 100%;
  height: auto;
}

div.gallery_w img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 5px;
  text-align: center;
  height: 50px;
}

body.fpage {
color: black;
background-color: lightblue;
font-family: Arial, "Trebuchet MS", sans-serif;
margin-left: 1%;
margin-right: 1%;
margin-top: 0%;
margin-bottom: 0.7%;
}
body {
color: black;
background-color: lightblue;
font-family: Arial, "Trebuchet MS", sans-serif;
margin-left: 1%;
margin-right: 1%;
margin-top: 0%;
margin-bottom: 0.7%;
line-height: 1.5;
}
body p {
  max-width: 80%;
}
img.face {
	width: 80px;
	height: 120px;
	}
img.neo {
	width: 160px;
	height: 120px;
	}
img.high_h {
	width: 320px;
	height: 480px;
	}
img.wide_w {
	width: 480px;
	height: 320px;
	}

a:link {  /* unused link */
  color: blue;
  background-color: transparent;
}

a:visited {  /* used link */
  color: purple;
  background-color: transparent;
}
a:hover {
  background-color: #9D4ED6;
  color: white;
}
pre {
	color: red;
}

.navbar {
border-style: solid;
border-radius: 5px;
border-width: thin;
border-color: #2211CE;
background-color: #EEA8E7;
padding-left: 0.5em;
background: rgb(236,46,244);
background: linear-gradient(65deg, rgba(170,241,7,0.12292249663537291) 25%, rgba(255,42,42,1) 100%); 
box-shadow: 4px 15px 19px rgba(0, 0, 0, 0.3) inset;
-webkit-box-shadow: 4px 15px 19px rgba(0, 0, 0, 0.3) inset;
-moz-box-shadow: 4px 15px 19px rgba(0, 0, 0, 0.3) inset;
}

.navbar ul li {
  display: inline;
  border-left: 2px solid;
  border-color: #2211CE;
  margin-left: 0.5em;
  padding-left: 0.5em;
}

.navbar ul {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0;
  margin-left: 0;
}

.navbar ul li:first-child, .leveldown ul li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

.navbar a:link, .navbar a:link, .leveldown a:link {
  text-decoration: underline;
  color: #0000CD;
}
.leveldown{
    text-align:right;
    background: rgb(236,46,244);
    background: linear-gradient(65deg, rgba(255,42,42,0.12292249663537291) 25%, rgba(170,241,7,1) 100%); 
}
.leveldown p {
    text-align:right;
}
.leveldown a {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.3em;
  margin-bottom: 0.1em;
}
