body {
  color: black;
  background-color: lightblue;
}
img.esim {
	width: 480px;
	height: 640px;
	}
a:link {  /* unused link */
  color: blue;
  background-color: transparent;
}

a:visited {  /* used link */
  color: purple;
  background-color: transparent;
}
pre {
	color: red;
}
